[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = all
csharp_preferred_modifier_order = internal, protected, private, public, file, new, override, sealed, abstract, static, virtual, async, extern, unsafe, volatile, readonly, required:suggestion
file_header_template=Copyright (c) Microsoft Corporation.

# ReSharper properties
resharper_accessor_owner_body = accessors_with_expression_body
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_braces_for_foreach = required_for_multiline
resharper_braces_for_ifelse = not_required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_case_block_braces = next_line_shifted_2
resharper_csharp_indent_invocation_pars = none
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 4517
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_for_other_types = use_explicit_type
resharper_instance_members_qualify_declared_in =
resharper_local_function_body = expression_body
resharper_method_or_operator_body = expression_body
resharper_null_checking_pattern_style = empty_recursive_pattern
resharper_object_creation_when_type_evident = explicitly_typed
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_enum_on_single_line = true
resharper_place_simple_initializer_on_single_line = false
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_enum_declaration = wrap_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always